@charset "utf-8";
@font-face {
    font-family: 'DINProR';
    src: url('../font/DINPro-Regular.eot');  /* IE9 */
    src: url('../font/DINPro-Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
    url('../font/DINPro-Regular.woff') format('woff'),   /* chrome、firefox */
    url('../font/DINPro-Regular.ttf') format('truetype'),    /* chrome、firefox、opera、Safari、Android、IOS */
    url('../font/DINPro-Regular.svg#webfont') format('svg');   /* ios 4.1 */
}
@font-face {
    font-family: DINProM;
    src: url('../font/DINPro-Medium.eot');  /* IE9 */
    src: url('../font/DINPro-Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
    url('../font/DINPro-Medium.woff') format('woff'),   /* chrome、firefox */
    url('../font/DINPro-Medium.ttf') format('truetype'),    /* chrome、firefox、opera、Safari、Android、IOS */
    url('../font/DINPro-Medium.svg#webfont') format('svg');   /* ios 4.1 */
}
@font-face {
    font-family: DINBold;
    src: url('../font/DINCond-Bold.eot');  /* IE9 */
    src: url('../font/DINCond-Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
    url('../font/DINCond-Bold.woff') format('woff'),   /* chrome、firefox */
    url('../font/DINCond-Bold.ttf') format('truetype'),    /* chrome、firefox、opera、Safari、Android、IOS */
    url('../font/DINCond-Bold.svg#webfont') format('svg');   /* ios 4.1 */
}
@font-face {
    font-family: impact;
    src: url('../font/impact.eot');  /* IE9 */
    src: url('../font/impact.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
    url('../font/impact.woff') format('woff'),   /* chrome、firefox */
    url('../font/impact.ttf') format('truetype'),    /* chrome、firefox、opera、Safari、Android、IOS */
    url('../font/impact.svg#webfont') format('svg');   /* ios 4.1 */
}
.z-main {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0 100px;
}

.n-tips {
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    margin-bottom: 10px;
    color: #666;
    padding-left: 45px;
    background: #fff url(../juimg/icon-n-tips.png) no-repeat 20px center;
    padding-right: 30px;
}

.n-tips .time {
    margin: 0 30px 0 16px;
    color: #999;
}

.n-tips .check {
    color: #108ee9;
}

.slip-btn>span {
    line-height: 40px;
}

.slip-btn .simple {
    margin-right: 40px;
}

.slip-btn label {
    background-color: #fff;
    padding: 0px;
    border-radius: 32px;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 16px;
    cursor: pointer;
    vertical-align: text-bottom;
    margin-left: 6px;
}

.slip-btn input {
    display: none;
}

.slip-btn label:before {
    content: ' ';
    position: absolute;
    background: #fff;
    top: 2px;
    left: 2px;
    z-index: 99999;
    width: 11px;
    height: 11px;
    border-radius: 100px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), inset 0 -18px 15px -10px rgba(0, 0, 0, 0.05);

}

.slip-btn label:after {
    content: ' ';
    position: absolute;
    background: #ccc;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}

[id^="checkbox-"]+label:before,
[id^="checkbox-"]+label:after {
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

[id^="checkbox-"]:checked+label:before {
    content: ' ';
    position: absolute;
    left: 27px;
    border-radius: 100px;
}

[id^="checkbox-"]:checked+label:after {
    content: ' ';
    font-size: 1.5em;
    position: absolute;
    background: #108ee9;
}

.zh-main {
    background-color: #fff;
}
.w100{
    width: 100%;
}
.w33{
    width: 33.3%;
}
.c3 {
    color: #333;
}

.c6 {
    color: #666;
}

.c9 {
    color: #999;
}

.blue {
    color: #108ee9;
}

.yellow {
    color: #ff6600;
}
.green{
    color: #008000;
}
a:hover{
    color: #108ee9;
}
.v-center{
    text-align: center;
}
.u-container{
    position: relative;
    min-height: 800px;
}
.u-container .u-left {
    position: relative;
    left: 0;
    top: 0;
    width: 220px;
    /* height: 100%; */
    min-height: 800px;
    transition: all .3s;
    -webkit-transition: all .3s;

    background-color: #fff;
}

.u-container .u-right {
    position: relative;
    left: 0;
    top: 0;
    width: 970px;
    /* height: 100%; */
    min-height: 800px;
    transition: all .3s;
    -webkit-transition: all .3s;

    background-color: #fff;
}
.u-right .right-box{
    background-color: #fff;
}
.u-left .head-box {
    padding: 16px 20px 20px;
    height: 202px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #fff;
}

.head-box .head-box-port,
.head-box .head-box-port img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}

.head-box-name {
    margin-top: 6px;
}

.head-box-dot {
    margin: 6px 0 17px;
}

.head-box-name,
.head-box-dot span {
    color: #333;
}

.head-box-bottom a {
    display: inline-block;
    width: 52px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #108ee9;
    background-color: #ffff;
    border: solid 1px #108ee9;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.default-btn {
    background-color: #108ee9;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.default-btn:hover {
    color: #fff;
    background-color: #2a9cef;
}

.u-left .u-nav {
    padding-top: 10px;   
    background-color: #fff;
}
/* .u-first .u-left .u-nav{
    min-height: 647px;
}
.u-second .u-left .u-nav{
    min-height: 763px;
} */

.u-left .u-nav li .nav-item {
    position: relative;
    padding: 0 30px;
    height: 48px;
    line-height: 48px;
    text-indent: 25px;
    color: #333;
    background: url(../img/u-nav-1.png) no-repeat left 30px center;
    cursor: pointer;
}
.u-left .nav-bottom{
    padding-top: 30px;
    border-top: 1px dashed #e1e1e1;
    margin: 20px auto;
    text-align: center;
}
.u-left .nav-out{
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    color: #108ee9;
	background-color: #fff;
    border: solid 1px #108ee9;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.u-left .nav-out:hover{
    color: #fff;
    background-color: #108ee9;
}

.u-left .u-nav li:first-child+li .nav-item {
    background: url(../img/u-nav-2.png) no-repeat left 30px center;
}

.u-left .u-nav li:first-child+li+li .nav-item {
    background: url(../img/u-nav-3.png) no-repeat left 30px center;
}

.u-left .u-nav li:first-child+li+li+li .nav-item {
    background: url(../img/u-nav-4.png) no-repeat left 30px center;
}

.u-left .u-nav li:first-child+li+li+li+li .nav-item {
    background: url(../img/u-nav-5.png) no-repeat left 30px center;
}

.u-left .u-nav li:first-child+li+li+li+li+li .nav-item {
    background: url(../img/u-nav-6.png) no-repeat left 30px center;
}

.u-left .u-nav .nav-item:hover {
    color: #108ee9;
}

.u-nav li.active .nav-item{
    font-weight: bold;
}
.u-nav li .icon-down {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 12px;
    height: 7px;
    background: url(../img/u-down.png) no-repeat center center;
}
.u-nav li.active .icon-down{
    background: url(../img/u-up.png) no-repeat center center;
}

/* .u-nav li .li-dropdown {
    display: none;
} */
.u-nav li.active .li-dropdown {
    display: block;
}

.u-nav .li-dropdown a {
    position: relative;
    display: block;
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-indent: 65px;
    background-color: #fff;
    color: #333;
    font-family: DINProR;
}
.u-nav .li-dropdown a:hover{
    color: #108ee9;
}
.u-nav .li-dropdown a.on {
    color: #108ee9;
    background-color: #f5fafe;
}

.u-nav .li-dropdown a.on:before {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    content: "";
    width: 4px;
    background-color: #108ee9;
    height: 100%;
}

.u-tit {
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
    border-bottom: 1px solid #eee;
}

.u-tit .tit-left {
    position: relative;
    padding-left: 12px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.u-tit .iconfont {
    font-size: 12px;
    color: #108ee9;
}

.u-tit .tit-left:before {
    position: absolute;
    left: 0;
    top: 16px;
    display: inline-block;
    content: "";
    width: 4px;
    height: 16px;
    background-color: #108ee9;
}

.u-tit .tit-follow{
    font-size: 14px;
    color: #108ee9;
}
.u-tit .tit-follow:hover{
    text-decoration: underline;
}

.p-info{
    padding: 34px 24px;
}
.p-data{
    padding: 28px 24px;
}

.p-f-detail .p-detail-head {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 14px;
}

.p-f-detail .p-detail-msg p:first-child+p,.p-s p:first-child+p,.p-t p:first-child+p{
    margin: 10px 0;
    overflow: hidden;
}
.p-f{
    width: 32%;
}
.p-s{
    min-width: 40%;
}
.p-s .city{
    display: inline-block;
    max-width: 245px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.p-s,.p-t{
    padding-left: 48px;
    color: #999;
    border-left: 1px solid #eee;
}
.p-t-qq{
    display: inline-block;
    padding-left: 21px;
    background: url(../img/u-qq.png) no-repeat left center;
}
.p-t .p-t-a{
    display: inline-block;
    margin-right: 16px;
}

.p-t a:hover,.p-s .p-jl:hover{
    text-decoration: underline;
}
.p-info i{
    margin-right: 6px;
}
.p-t .account span{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: sub;
    margin-right: 6px;
}
.ico-msg{
    background: url(../img/u-info-1.png) no-repeat center center;
}
.ico-tel{
    background: url(../img/u-info-2.png) no-repeat center center;
}
.ico-email{
    background: url(../img/u-info-3.png) no-repeat center center;
}
.ico-wx{
    background: url(../img/u-info-4.png) no-repeat center center;
}
.ico-msg.on{
    background: url(../img/u-info-01.png) no-repeat center center;
}
.ico-tel.on{
    background: url(../img/u-info-02.png) no-repeat center center;
}
.ico-email.on{
    background: url(../img/u-info-03.png) no-repeat center center;
}
.ico-wx.on{
    background: url(../img/u-info-04.png) no-repeat center center;
}
.u-right .u-line{
    margin: 0 auto;
    width: 930px;
    height: 1px;
    background-color: #eee;
}
.p-data .p-data-tit{
    float: left;
}
.p-data .p-data-tit:first-child{
    width: 33%;
}
.p-data .p-data-tit:first-child+.p-data-tit,.p-data .p-data-tit:first-child+.p-data-tit+.p-data-tit{
    width: 22%;
}
.p-data .p-data-tit p:first-child{
    color: #999;
}
.p-data .l-num{
    font-size: 34px;
    color: #333;
    font-family: DINProM;
    letter-spacing: -1px;
}
.p-data .l-num.yellow{
    color: #ff6600;
}
.p-data .data-cz{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 52px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 11px;
    margin-left: 26px;
	background-color: #fff;
    border: solid 1px #ff6600;
    font-family: "MicrosoftYaHei";
    font-size: 14px;
    color: #ff6600;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.p-data .data-cz:hover {
    color: #fff;
    background-color: #ff6600;
}
.u-gg{
    height: 76px;
    overflow: hidden;
}
.u-gg img{
    width: 100%;
    height: 100%;
}
.u-tool{
    width: 100%;
    height: 60px;
    background-color: #fff;
}
.u-tool .u-tool-all{
    width: 870px;
    height: 60px;
    overflow: hidden;
}
.u-tool .u-tool-list{
    line-height: 60px;
    color: #333;
}
.u-tool .u-tool-list a{
    float: left;
    position: relative;
    height: 100%;
    line-height: 60px;
    width: 174px;
    text-align: center;
}
.u-tool .u-tool-list a:hover{
    color: #108ee9;
}
.u-tool .u-tool-list a:after{
    position: absolute;
    right: 0;
    top: 18px;
    content:"";
    width:1px;
    height: 25px;
    background-color: #eee;
}
.u-tool-list .ico-tool{
    vertical-align: middle;
    margin-right: 8px;
}
.u-tool-change{
    height: 60px;
    line-height: 60px;
    color: #108ee9;
    padding-right: 24px;
    cursor: pointer;
}
.ico-tool-whois{
    width: 38px;
    height: 33px;
    background: url(../img/u-tool-whois.png) no-repeat center center;
}
.ico-tool-ls{
    width: 35px;
    height: 35px;
    background: url(../img/u-tool-ls.png) no-repeat center center;
}
.ico-tool-sg{
    width: 34px;
    height: 34px;
    background: url(../img/u-tool-sg.png) no-repeat center center;
}
.ico-tool-bd{
    width: 35px;
    height: 35px;
    background: url(../img/u-tool-bd.png) no-repeat center center;
}

.u-note .note-box{
    width: 480px;
    background-color: #fff;
}
.right-ul{
    padding: 12px 24px;
}
.right-ul li{
    position: relative;
    padding-left: 12px;
    display: block;
    line-height: 36px;
    color: #666;
    overflow: hidden;
}
.right-ul li a{
    color: #666;
}
.right-ul li:after{
    position: absolute;
    left: 0;
    top: 13px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid #999;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}

.right-ul .con{
    float: left;
}
.right-ul .time{
    float: right;
    font-size: 12px;
    color: #999;
}
.right-ul li a:hover{
    color: #108EE9;
}
.right-ul li:hover:after{
    border-left-color: #108EE9;
}

/* 消息通知 */
.u-station-box{
    padding: 0 24px;
    background-color: #fff;
}
.u-station-box .station-head{
    padding: 24px 0;
}
.station-head .head-title span{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    border:1px solid #eee;
    margin-right: 10px;
    cursor: pointer;
}
.station-head .head-title span.on{
    color: #fff;
    background-color: #108ee9;
    border-color: #108ee9;
}
.head-sel{
    color: #333;
}
.head-sel .sel{
    width: 132px;
    height: 32px;
    text-indent: 10px;
	background: #fff url(../img/u-sel-down.png) no-repeat right 13px center;
	border: solid 1px #eee;
}

.cha-list-box table {
    text-align: left;
    color: #333;
}
.cha-list-box table thead {
    background: #f1f3f5;
}
.cha-list-box table th{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 6px;
    font-weight: bold;
}
.cha-list-box table thead tr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    border-bottom: 1px solid #eee;
}
.cha-list-box table tbody tr{
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #eee;
}
.cha-list-box tbody tr td {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 6px;
}

/* .focus-list-box tbody tr td:first-child{
    text-align: center;
} */

.cha-list-box tbody .last-tr{
    border-bottom: none;
}
.cha-list-box tbody .last-tr td{
    padding: 24px 0 30px 24px;
}
.last-tr .mark-btn{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 20px;
    margin-left: 30px;
    height: 32px;
    line-height: 32px;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
}
.last-tr .bottom-page{
    margin-top: 0;
    font-size: 12px;
    color: #666;
}
.cha-list-box table .tr-span{
    cursor: pointer;
}
.cha-list-box table .tr-span:hover{
    text-decoration: underline;
}

.cha-list-box table .tr-nr{
    display: none;
    background-color: #E5F4FF;
}
.cha-list-box table .tr-nr td{
    padding: 14px 20px;
    line-height: 28px;
    color: #333;
}


.bottom-page a{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #666;
	background-color: #fff;
	border-radius: 4px;
    border: solid 1px #eee;
    margin: 0 2px;
}
.bottom-page a:hover{
    color: #fff;
    background-color: #108ee9;
    border-color: #108ee9;
}
.bottom-page .dot{
    margin: 0 8px;
}
.bottom-page .all{
    display: inline-block;
    margin-left: 8px;
}

/* 财务相关 */
.point-right{
    background-color: #fff;
}
.point-right .u-tit{
    border-bottom: none;
}
.point-tab{
    margin: 20px 0 30px;
    border-bottom: 1px solid #eee;
}
.point-tab li{
    position: relative;
    width: 86px;
    padding: 6px 0;
    margin-right: 24px;
    text-align: center;
    float: left;
    color: #333;
    cursor: pointer;
}
.point-tab li.on{
    font-weight: bold;
}
.point-tab li.on:after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #108ee9;
}

.point-exchange{
    width: 100%;
}
.point-exchange .point-tip{
    background-color: #e5f4ff;
	border: solid 1px #9fd5fc;
    padding: 10px 24px 10px 50px;
    line-height: 30px;
    color: #004a80;
}
.point-tip .p1{
    position: relative;
}
.point-tip .p1:before{
    position: absolute;
    left: -27px;
    top: 7px;
    width: 16px;
    height: 16px;
    content:"";
    background: url(../img/point-tip.png) no-repeat center center;
}
.point-card{
    height: 100px;
    padding-top: 60px;
    padding-left: 52px;
}
.card-tit{
    line-height: 34px;
    color: #333;
    font-size: 16px;
}
.point-card .card-inp{
    width: 266px;
    height: 34px;
    margin-left: 20px;
    line-height: 34px;
    text-indent: 10px;
	background-color: #fff;
	border: solid 1px #e1e1e1;
}
.point-card .card-btn{
    width: 130px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    margin-left: 25px;
    background-color: #108ee9;
    cursor: pointer;
}
.point-card .card-error{
    margin-top: 20px;
    margin-left: 100px;
    padding-left: 26px;
    color: #ff0000;
    background: url(../img/point-error.png) no-repeat left center;
}
.point-get{
    padding-left: 52px;
}
.point-get .get-method{
    margin-left: 20px;
}
.point-get .get-method a{
    position: relative;
    line-height: 34px;
    float: left;
    color: #108ee9;
    margin-right: 34px;
}
.point-get .get-method a:hover{
    text-decoration: underline;
}

.point-get .get-method a:before{
    position: absolute;
    left: -18px;
    top: 7px;
    content:"";
    height: 20px;
    width: 1px;
    background-color: #e1e1e1;
}
.point-get .get-method a:first-child:before{
    display: none;
}
.point-right .cha-list-box .cha-table thead th:first-child{
    text-indent: 14px;
}
.point-right .cha-list-box .cha-table .tr-td{
    text-indent: 14px;
}
.point-right .cha-list-box .bottom-page{
    text-align: center;
}
.point-check{
    padding-bottom: 30px;
}
.point-check .head-sel{
    margin-right: 40px;
}
.point-check .head-sel .inp{
    width: 188px;
    height: 32px;
    line-height: 32px;
    text-indent: 10px;
	background-color: #fff;
	border: solid 1px #eee;
}
.point-check .check-btn{
    width: 82px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
	background-color: #108ee9;
}

/* 价格说明 */
.price-tip{
    width: 100%;
    height: 48px;
    line-height: 48px;
    color:#004a80;
    padding-left: 52px;
    margin: 20px 0;
	background: #e5f4ff url(../img/point-tip.png) no-repeat left 24px center;
	border: solid 1px #9fd5fc;
}
.price-right .bottom-page{
    text-align: center;
}
.price-right .cha-list-box .cha-table thead th:first-child{
    text-indent: 14px;
}
.price-right .cha-list-box .cha-table .tr-td{
    text-indent: 14px;
}


/* 404 */
.found-main{
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0 60px;
}
.nofound,.guess{
    background-color: #fff;
}
.nofound-con{
    padding: 20px 0 60px;
    text-align:  center;
    margin-bottom: 10px;
}
.nofound-search{
    width: 700px;
    margin: 0 auto;
}
.nofound-con .p1{
    font-size: 16px;
    color: #333;
    padding:20px 0 40px;
}
.nofound-con .nofound-inp{
    width: 580px;
    height: 50px;
    line-height: 50px;
	background: #fff url(../img/nofound-search.png) no-repeat 18px center;
    border: solid 1px #eee;
    text-indent: 50px;
}
.nofound-btn{
    width: 120px;
    height: 50px;
    line-height: 50px;
    color: #fff;
	background-color: #108ee9;
}

.guess-list{
    padding: 24px 24px 10px 30px;
}
.guess-list a{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 180px;
    height: 60px;
    line-height: 60px;
    border: solid 1px #eee;
    text-align: center;
    margin-left: 13px;
    margin-bottom: 20px;
}
.guess-list a:hover{
    color: #108ee9;
}
.guess-list a:first-child{
    margin-left: 0;
}
.guess-list a:first-child+a+a+a+a+a+a{
    margin-left: 0;
}

.common-sx{
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 24px;
    color: #999;
}
.common-sx a{
    position: relative;
    display: inline-block;
    margin: 0 18px;
    color: #108ee9;
}
.common-sx a:before{
    position: absolute;
    left: -22px;
    top: 0;
    content:"";
    width: 1px;
    height: 20px;
    background-color: #e1e1e1;
}
.common-sx .f:before{
    display: none;
    content:"";
}

.common-sx a:hover{
    text-decoration: underline;
}
.sx-check{
    margin-bottom: 24px;
}
.sx-check .head-sel{
    margin-right: 30px;
}
.sx-check .inp1,.sx-check .inp2,.sx-check .inp3{
    width: 156px;
    height: 32px;
    line-height: 32px;
    text-indent: 10px;
	background-color: #fff;
	border: solid 1px #eee;
}
.sx-check .inp2{
    position: relative;
    margin-left: 1px;
}
.sx-check .sx-line{
    display: inline-block;
    height: 2px;
    width: 5px;
    background-color: #333;
    margin-bottom: 3px;
}
.sx-check .inp3{
    width: 98px;
}
.sx-check .sx-btn{
    width: 82px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
	background-color: #108ee9;
}
.sx-check .sx-btn:hover{
    background-color: #40a9ff;
    border-color: #40a9ff;
}
.last-td a{
    display: inline-block;
    color: #108ee9;
}
.last-td a:first-child+a{
    margin-left: 14px;
    color: #999;
}
.last-td a:hover{
    text-decoration: underline;
}
.pl-label{
    margin-top: 5px;
}
.pl-choose{
    width: 110px;
	height: 32px;
    background: #fff url(../img/pl-down.png) no-repeat right 10px center;
    color: #108ee9;
    text-indent: 20px;
    border: solid 1px #108ee9;
    margin: 0 12px 0 30px;
}
.pl-btn{
    display: inline-block;
    width: 94px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background-color: #108ee9;
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.pl-btn:hover{
    background-color: #40a9ff;
    border-color: #40a9ff;
}

/* 离线查询 */
.add-outline{
    width: 108px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #108ee9;
    border: solid 1px #108ee9;
    margin-bottom: 24px;
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.add-outline:hover{
    background-color: #108ee9;
    color: #fff;
}

.outline-right .cha-list-box .cha-table thead th:first-child{
    text-indent: 14px;
}
.outline-right .cha-list-box .cha-table .tr-td{
    text-indent: 14px;
}
.td-handle a:first-child{
    display: inline-block;
    margin-right: 10px;
}
.td-handle a:hover{
    text-decoration: underline;
}
.td-handle a:first-child:hover{
    color: #008000;
}
.td-see{
    display: inline-block;
    margin-left: 10px;
    color: #108ee9;
    cursor: pointer;
}
.td-see:hover{
    text-decoration: underline;
}
.outline-right .bottom-page{
    text-align: center;
}
.outline-tab{
    padding: 0 24px;
    border-bottom: 1px solid #eee;
}
.outline-right .point-tab{
    padding: 0 24px;
    margin: 0 0 20px;
}
.outline-right .u-tit{
    border-bottom: none;
}
.outline-tit-right{
    display: none;
}
.outline-tit-right a{
    display: inline-block;
    margin-left: 36px;
    color: #108ee9;
}
.outline-tit-right a:hover{
    text-decoration: underline;
}
.cha-station-box{
    padding: 0;
}
.cha-station-box .cha-box{
    padding: 0 24px 0 36px;
}
.cha-station-box .layui-show-table{
    padding: 0 24px 40px;
}
.cha-line{
    width: 100%;
    height: 10px;
    background-color: #f7f7f7;
}
.layui-show-table-tit{
    padding: 20px 0 10px;
    color: #404040;
}
.layui-show-table-tit .table-down{
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
	background-color: #108ee9;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.layui-show-table-tit .table-down:hover{
    background-color: #40a9ff;
    border-color: #40a9ff;
}
.cha-normal{
    border-bottom: 1px dashed #e9ecef;
    padding-bottom: 6px;
    color:#333;
}
.cha-normal a{
    position: relative;
    display: inline-block;
    color: #108ee9;
    margin: 0 16px;
}
.cha-normal a:hover{
    color: #108ee9;
    text-decoration: underline;
}
.cha-normal a:before{
    position: absolute;
    left: -19px;
    top: 0;
    width: 1px;
    height: 20px;
    content: "";
	background-color:#e1e1e1;
}
.cha-normal .f:before{
    display: none;
}

/* layui 样式改变 */
.layui-laydate .layui-this{
    background-color: #108ee9!important;
}
.layui-laydate-footer span:hover,.layui-laydate-footer span[lay-type=date]{
    color: #108ee9!important;
}
.layui-form-checkbox[lay-skin=primary]:hover i{
    border-color: #108ee9;
}